# For fetching our site content
TRELLO_LIST_ID='61f27ad4f8622f6e41656b05'
TRELLO_BOARD_URL='https://trello.com/b/3TpDeiW0/doska'

# Let's see include staged content when running locally
BRANCH='stage'

# For registering a webhook with Trello
# Get yours at https://trello.com/app-key
TRELLO_TOKEN='41f5a6897fcc282a23b663dc4243e209d713d7241253c35e53ead43ab19068bd'
TRELLO_KEY='cf495d0c7289a9aaf837f000893101e0'
